@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print {
    display: none !important;
  }

  .break-after-page {
    break-after: page;
  }

  body {
    background: white;
  }
}
